html, body {
  padding: 0;
  margin: 0;
  height: 100%;  
}

#app, #app > div {
  height: 100%;
}

#top, #left, #right {
  padding: 0;
  margin: 0;
}

#top {
  background-color: red;
  overflow: hidden;
  height: 90px;
}

.content {
  height: calc(100% - 90px);
}

#left {
  display: inline-block;
  background-color: blue;
  width: 300px;
  height: 100%;
  vertical-align: top;
}

#right {
  display: inline-block;
  background-color: green;
  width: calc(100% - 300px);
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color: white;
  cursor: pointer;
}

li.active {
  background-color: gray;
}

li:hover {
  color: black;
  background-color: cyan;
}